body {
    font-family: Arial, sans-serif;
    background-color: #f4f6f8;
}

.container {
    width: 70%;
    padding-left: 100px;
    
}

h1 {
    text-align: center;
    margin-bottom: 30px;
}

.card {
    background-color: #ffffff;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}

.card h2 {
    margin-bottom: 10px;
    color: #2c3e50;
}

.card ul {
    padding-left: 20px;
}

.card ul li {
    margin-bottom: 6px;
}
